.text-feature-pchild ol li{
    list-style:decimal;
}
.main-ct-pchild ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}
.main-ct-pchild ul li:before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #789a3d;
}

.item-nscc-vinaseed .img-human-nscc{
    height:170px;
}

.item-contact-footer{
    margin-bottom:3px!important;
}


.wp-news-body-content a{color:#005b36;}
.title-ct-footer{margin-bottom:10px!important;}
.main-products{padding-bottom:15px!important;}
.pb-lg-5, .py-lg-5,.pb-md-5, .py-md-5{padding-bottom:1rem!important;}
.wp-news-body-content a, .food-ct-txt a{
    color:#005b36;
    font-weight:bold;
}
.wp-news-body-content a:hover, .food-ct-txt a:hover{
    color:#789a3d;
}
.banner-pchild-vns{background-position:bottom center!important;}

@media (min-width:900px){
    .item-view-info-rct .icon-img .icon{width:80%!important;height:80%!important;}
}

.main-popup-partner ul {
    margin-bottom: 15px;
}
.main-popup-partner ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}
.main-popup-partner ul li:before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #789a3d;
}

@media (max-width: 1599px) and (min-width: 1200px){
    .item-menu-products{
        font-size:17px!important;
    }
}
.content-wp-footer{
    background:none!important;
}
/*22/03/2021*/
.search-control-icon:hover{
    background:#21AB64!important;
}

h3.title-item-media{
    color: #124B06!important;
}
.item-content-media:before{
    background:#21AB64!important;
}
.icon-open-nav-scroll{
    background:#21AB64!important;
}
.content-style-vns ul li:before{
    background:#21AB64!important;
}
.menu-header > ul.sf-menu > li.item--menu:hover > a { color: #21AB64!important; }
ul.sf-menu > li.item--menu > a{color:#070707!important;}
ul.sf-menu > li.item--menu > a:before{background-color:#21AB64!important;}
ul.sf-menu ul li{color:#070707!important;}
.item-content-media span.color-item-content{color:#124B06!important;}
.btn-search-tt{background:#21AB64!important;}
.item-view-info-rct .icon-img{border:solid 1px #124B06!important;}
.item-view-info-rct .text-title{color:#124B06!important;}
.item-view-info-rct .text-title:hover{color:#21AB64!important}
.back-to-top{background:#21AB64!important;}
.item-child-nav-hoz:hover{color:#21AB64!important;}
.showmore-button:hover { color: #21AB64!important; }
.item-contact-footer .ct-contact:hover { color: #21AB64!important; }
.copy-right-vns a:hover{ color: #21AB64!important;}
.item-brd-pchild-banner:hover{color: #21AB64!important;}
.item-timeline-history .wp-year-text .year:before{background: #21AB64!important;}
.item-timeline-history.item-image-left .wp-year-text .year{color:#070707!important;}
.item-child-nav-hoz.active{color: #21AB64!important;}

.item-child-nav-hoz:before{background-color:#21AB64!important;}
.view-more-nav-hoz a{color:#124B06!important;}
.view-more-nav-hoz a:hover{color:#21AB64!important;}
.item-child-nav-hoz:hover,.item-child-nav-hoz:hover:before,.item-child-nav-hoz.active:before { color: #21AB64!important; }
.content-style-vns h3{color:#124B06!important;}
.main-ct-pchild ul li:before{background-color:#21AB64!important;}
.item-ctg-nscc{border-radius:5px!important;}
.item-nscc-vinaseed .img-human-nscc a img{
    border-radius: 5px;
}
.item-ctg-nscc.active{background-color:#21AB64!important;}
.intro-item-txt{color:#124B06!important;}
.intro-item:hover .intro-item-txt{color:#21AB64!important;}
.content-style-vns h2{color:#124B06!important;}
.item-hightlight-ct .title-hl a{color:#21100A!important;}
.item-input-file input:focus,.item-input-file textarea:focus,.item-input-file select:focus{border: 1px solid #21AB64!important;}
.btn-send-file-info a{background:#124B06!important;border-radius:5px!important;}
.btn-send-file-info a:hover{background:#21AB64!important;}
.main-download-ut:hover p { color: #21AB64!important; }
.main-download-ut:hover span svg { fill: #21AB64!important; }
a.txt-download-ut:hover span svg { fill: #21AB64!important; }
a.txt-download-ut:hover .txt-download-file-ut { color:#21AB64!important; }
span.icon-download-ut svg{fill:#124B06!important;}
.txt-download-ut .txt-download-file-ut{color:#124B06!important;}
.slide-lvkd-title p{color:#124B06!important;}

.item-tab-year.active{background:#21AB64!important;color:white!important;}
.item-tab-year{border-radius:5px!important;color:#21100A!important;}
.item-report-vns:before{background-color:#21AB64!important;}
.item-report-vns .name-report{color:#124B06!important;}
.item-report-vns .name-report:hover{color:#21AB64!important;}
.wp-day-down-report .icon-download svg{fill:#124B06!important;}
.wp-day-down-report .icon-download:hover svg { fill: #21AB64!important; }

.capital-table-title{background:#21AB64!important;}

.item-hot-new-page .title-item-hot a{color:#124B06!important;}
.item-hot-new-page .title-item-hot a:hover{color:#21AB64!important;}
.item-hot-new-page .ctg-day-hot-page .ctg:hover{background:#21AB64!important;}
.item-hot-new-page .intro-hot:before{background:#21AB64!important;}

.content-news-txt{color:#21100A!important;}
.content-news-txt:hover { color: #21AB64!important; }
.btn-detail a:hover{background:#21AB64!important;}
.active-item svg path{fill:#21AB64!important;}
.st0{stroke:#21AB64!important;}
.pg-technology-item:hover svg path { fill: #21AB64!important;}
.select-day-filter-news input:focus{border: 1px solid #21AB64!important;}
.see-all a{color:#124B06!important;}
.see-all a:hover{color:#21AB64!important;}
.title-line-bot-vns{color:#124B06!important;}

.content-style-vns blockquote{color:#21100A!important;}
@media(min-width: 1200px) and (max-width: 1599px){
    .logo-footer a{
        width:155px!important;
    }
}
.see-all-product a:hover{
    color:#21AB64!important;
}
.block-title-page .line{
    width:150px!important;
}
.menu-line .line{background:red!important;}
.list-info-map-dl{z-index:1!important;}

.thumb-slide-img::before{
    background:#21AB64!important;
}
.btn-registration a{
    background:#124B06!important;
}
.btn-registration a:hover{
    background:#21AB64!important;
}
.list-form-ct-page textarea:focus{
    border:1px solid #21AB64!important;
}
.item-input-registration input:focus{
    border:1px solid #21AB64!important;
}
.btn-view-info-nscc a:hover{
    color:#21AB64!important;
}
.item-new:hover{
    box-shadow:0 10px 5px #6c757d;
    -webkit-box-shadow: 0 10px 5px #6c757d;
    -moz-box-shadow: 0 10px 5px #6c757d;
    overflow:visible!important;
}
.txt-nd-block{
    font-family:'UTM-NeoSans-Intel'!important;
    font-size:15px;
    line-height:30px;
    color:#5F6265;
}
.learn-more{
    font-size:18px!important;
}
.title-line-bot-vns:before{
    width:100px!important;
    top:-6px!important;
}
.text-feature-pchild table thead tr{
    background:#21AB64;
    color:white;
}
.see-all-product a{
    font-size:16px!important;
}
.product-zone-filter{
    flex-flow: row wrap;
}
.product-zone-filter-item{
    margin:5px 5px!important;
    padding:7px 15px!important;
}
.content-hidden-img img{
    background:none!important;
}
.circle-animation-banner{
    display:none;
}
.menu-btn-text{
    font-family:'fml-bold';
}
.title-ct-footer{
    font-size:20px!important;
    font-weight:bold;
}
@media (max-width: 1300px){
    .prev-zone-btn{
        left:0!important;
    }
    .next-zone-btn{
        right:0!important;
    }
}
p{
    text-align:justify;
}
@media(min-width: 1200px) and (max-width: 1599px){
    .content-banner h2{
        font-size:40px;
    }
}
@media(min-width: 1700px){
    .content-banner h2{
        font-size:56px;
    }
}
.swiper-slide{
    background-size:cover;
}
.btn-submit-online a,.general-info-rcm .item-info-rcm:before{
    background:#21AB64!important;
}
.text-color-green{
    color:#21AB64!important;
}
.btn__banner a{
    text-transform:none!important;
}
.wp-info-map{
    display:none;
}
@media(max-width: 575px){
    .texture-network-left,.texture-network-right{
        display:none;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .block-tab-solution-products .container{
        overflow-x:auto!important;
        overflow:auto!important;
    }
}
/* Footer */

.item-contact-footer { margin-bottom: 5px; color: #c1c1c1; font-size: 15px; }

.btn-connect-footer a { display: block; height: 49px; line-height: 49px; text-align: center; color: white; background: #3bbc68; border-radius: 1px; transition: 0.1s; min-width: 120px; max-width: 143px; border-radius: 5px; font-size: 14px; font-weight: bold; }

.title-ct-footer { color: #ccc; text-transform: uppercase; margin-bottom: 25px; font-size: 17px; }

.map-footer-vns { height: 180px; border-top-left-radius: 10%; border-bottom-right-radius: 10%; }

.btn-connect-footer a:hover { background: #18A850; }

.icon-ct-footer { width: 15px; display: inline-block; margin-right: 15px; }

.item-contact-footer .text-title { }

.item-contact-footer .ct-contact { -webkit-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }

.social-footer { text-align: right; }

.item-contact-footer .ct-contact:hover { color: #729a2d; }

.social-footer .item-connect-social { display: inline-block; width: 45px; margin: 0px 3px; opacity: 0.8; -webkit-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }

    .social-footer .item-connect-social:hover { opacity: 1; }
.back-to-top { width: 40px; height: 40px; text-align: center; line-height: 33px; position: fixed; bottom: 30px; right: 30px; background: #789A3D; cursor: pointer; z-index: 9; display: none; }

@media(max-width:575px) {
    .back-to-top { right: 15px; bottom: 15px; }

    .title-ct-footer { margin-bottom: 10px; }

    .map-footer-vns { height: 250px; }

    .btn-connect-footer a { max-width: none; }
}

.wp-footer { padding: 25px 0; background-color: #005032; }

@media (min-width:767px) and (max-width:991px) {
    .wp-footer { padding: 40px 0; }
    p.block-text-ft { font-size: 15px; }
    .logo-footer a { padding-top: 5px; }

    .social-footer .item-connect-social { width: 41px; margin: 0px 1px; }
    .social-footer { text-align: left; }

    .copy-right-vns p { text-align: left !important; }
}

@media (min-width: 576px) and (max-width:767px) {
    p.block-text-ft { font-size: 15px; }
    .logo-footer a { padding-top: 5px; max-width: 155px; }
    .wp-footer { padding: 40px 0; }

    .map-footer-vns { height: 250px; }

    .wp-logo-connect { display: flex; align-items: center; }

    .btn-connect-footer { margin-left: auto; }

    .social-footer { text-align: left; }

    .copy-right-vns p { text-align: left !important; }
}

@media (max-width: 575px) {
    .wp-footer { padding: 30px 0; }
    .logo-footer a { max-width: 180px; padding-bottom: 15px; margin: auto; }
    p.block-text-ft { margin-bottom: 5px; font-size: 15px; }

    .social-footer { text-align: left; }

    .copy-right-vns p { text-align: left !important; }
}



.copy-right-vns { margin-top: 20px; }

    .copy-right-vns p { font-size: 14px; color: #ccc; text-align: right; }

    .copy-right-vns a { display: inline-block; transition: 0.2s; }

        .copy-right-vns a:hover { color: #729a2d; }

.content-wp-footer { background: #00462C; padding: 15px; }
.img-sustainable:hover img { object-fit: fill; }
.next-zone-btn, .prev-zone-btn { position: absolute; top: 50%; z-index: 9999; display: none; width: 40px; height: 40px; border: solid 1px #ccc; border-radius: 100%; line-height: 35px; text-align: center; cursor: pointer; }
.next-zone-btn { right: -35px; }
.prev-zone-btn { left: -35px; }
.block-content-solution-products .container { position: relative; }
.next-zone-btn svg, .prev-zone-btn svg { margin-top: 9px; }
.swiper-button-disabled.next-zone-btn path, .swiper-button-disabled.prev-zone-btn path { fill: #ccc !important; }

.item-picture-wp.active .picture-item { transform: scale(1.08); }

#map-image { }
#map-image-mobile { display: none; }

@media (max-width:767px) {
    #map-image { display: none; }
    #map-image-mobile { display: block; }
}
